extends ../layouts/main.pug

block globals
  - title = "Work Hard, Play Hard."

block content

  header.home-cta
    h1
      = title
      br
      small To Do List.
      br
      small Login and save your list of work for free.